body{
    background-color: rgb(49, 49, 54);
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    
}


.contenedor{

    display:flex;
    flex-direction: row;
background-color: rgb(49, 49, 54);
justify-content:space-between;

}

.cuerpo_bandera{
    
    background-color: rgb(0, 32, 91);
    width: 263px;
    height: 191px;
    display: flex;
    justify-content: space-between;
  
}

.cuadros_peq{
    background-color: rgb(255, 255, 255);
    width: 83px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.peq_rojo {
    height: 70px;
    width: 70px;
    background-color: rgb(186, 12, 47);
}
.linea_azul_peq{
    height: 25px;
    background-color: rgb(0, 32, 91);
}
        
.cuadros_gran{
    background-color: rgb(255, 255, 255);
    width:155px ;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    
    }    

.gran_rojo{
    height: 70px;
    width: 142px;
    background-color: rgb(186, 12, 47);

}

.linea_azul_gran{
    height: 25px;
    background-color: rgb(0, 32, 91);

}
        
       
          