body{

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: rgb(199, 203, 206);
    padding: 20px;
    text-align: center;
}
nav{
    overflow: hidden;
    background-color: black;
}
.barra-nav{
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding:  14px 16px;
    text-decoration: none;

}

.boobafet{
    background-color: rgb(77, 74, 74);
    padding: 40px;
    text-align: center;
    font-size: 35px;
    color: white;
}

#info{
    display: flex;

}
.r2d2{
    float: left;
    padding: 20px;
    width: 60%;
    background-color: #f1f1f1;
    tex

}

article{
    padding: 20px;
    width: 40%;
    float: right;
    background-color: #ccc;
}