body{
    background: #202124;
    height: 100vh;
}

.espacio_gi{
    display: inline-block;
    padding-left: 15px;
    
}

.ambos_derechas{
    font-family: arial,sans-serif;
    line-height: normal;
    padding-right: 25px;
  
}
.letras_derechas {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
}
a.letras_derechas,  span.letras_derechasn{
    color:white;
    text-decoration: none;
    font-size: 13px;
    text-decoration-line: none;
 
}


.ambos_izquierda{
position: relative;
float: right;

}

.matriz{
    color: rgb(255, 255, 255);
   font-size: 9.1px ;
    line-height:6.3px;
    
    text-decoration: none;

   
}


.parece_boton {
    background: #8ab4f8;
    text-decoration: none;
    border: 1px solid transparent;
    color: #202124;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin-left: 15px;
    margin-right: 12px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.todo{
    height: 48px;
    display: flex;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding: 6px;
    box-sizing: border-box;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    z-index: 986;
   
}

.logo_bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    box-sizing: border-box;
   
}
.logo_centrado {
padding-bottom: 0;
    margin-top: 152px;
}

.busqueda{
    display: flex;
    flex-direction: column;
    align-items: center;
margin-top: 70px;
    box-sizing: border-box;
}




