body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin: 0;
}

.grid-container{
    margin: 15px;
    display: grid;

    grid-template-columns: 3fr 2fr 1fr;
    padding: 20px;
    background-color: rgb(172, 77, 96);
    column-gap: 20px;
    row-gap: 20px;
}

.grid-item{
    background-color: rgb(237, 114, 114);
    border: 2px solid #151e3f;
    padding:  20px;
    font-size:  30px;
    text-align: center;
    color: antiquewhite;
}
.grid-container-2{
    margin: 15px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    padding: 5px;
    background-color: rgb(172, 77, 96);
   gap: 10px;
   row-gap: 20px;
   column-gap: 35px;    
   height: 500px;
/* izquierda */
     /* justify-items:  star; */
 /* derecha */
    /* justify-items: end; */
/* centrado */
    /* justify-items: center ; */
 /* arriba */
    /* align-items: flex-start; */
 /* abajo */
    /* align-items: flex-end; */
 /* centrado */
     /* align-items: center;  */
/* Alinea y justifica en la misma linea de codigo */
    place-content: flex-end flex-end  ;
}

.grid-item-2{
    background-color: rgb(183, 201, 215);
    border: 2px solid #010000;
    padding:  20px;
    font-size:  30px;
    text-align: center;
    color: rgb(62, 60, 57);
}
